@charset "UTF-8";
/*main_visual (sub_visual)*/
.notice_visual { width: 100%; }

.notice_bg { background: url("../images/noticebg1.jpg") 50% 40% no-repeat; background-size: cover; width: 100%; height: 450px; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15); }

section { padding-bottom: 80px !important; }

section .inner .search-container { width: 90%; margin: 1em auto; }

section .inner .search-container .searchbar { width: 100%; height: 2.6em; }

section .inner .search-container .searchbar form { width: 100%; height: 100%; display: flex; justify-content: flex-end; align-items: center; }

section .inner .search-container .searchbar form input { border: none; outline: 1px solid #bbb; height: 100%; display: inline-block; line-height: 1.2em; }

section .inner .search-container .searchbar form input[type="text"] { widtH: 20%; }

section .inner #noticeBoard .pager { width: 80%; margin: 0 auto; display: flex; justify-content: center; margin-top: 2em; }

section .inner #noticeBoard .pager button { width: 3em; height: 3em; display: flex; justify-content: center; align-items: center; border: 1px solid #bbb; color: #bbb; background: #f5f5f5; }

section .inner #noticeBoard .pager button p { border: solid #bbb; border-width: 0 1px 1px 0; display: inline-block; padding: 4px; }

section .inner #noticeBoard .pager #nextValue p { transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }

section .inner #noticeBoard .pager #prevValue p { transform: rotate(135deg); -webkit-transform: rotate(135deg); }

section .inner #noticeBoard .container { width: 100%; }

section .inner #noticeBoard .container ul { width: 90%; margin: 0 auto; border-top: 0.15em solid #bbb; min-height: 225px; overflow: auto; }

section .inner #noticeBoard .container ul li { width: 100%; padding: 1.5em 0 1em; position: relative; box-sizing: border-box; }

section .inner #noticeBoard .container ul li:after { content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: .2em; background: #efefef; }

section .inner #noticeBoard .container ul li strong { display: flex; justify-content: center; align-items: center; margin-bottom: .5em; }

section .inner #noticeBoard .container ul li article { width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif; }

section .inner #noticeBoard .container ul li article a { display: flex; justify-content: space-between; flex-flow: row wrap; width: 100%; height: 100%; color: #222; }

section .inner #noticeBoard .container ul li article a h6 { width: 5%; text-align: center; font-size: 1em; }

section .inner #noticeBoard .container ul li article a section { width: 20%; height: 150px; padding: 0 !important; margin: 0 !important; }

section .inner #noticeBoard .container ul li article a section p { width: 100%; height: 100%; background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important; }

section .inner #noticeBoard .container ul li article a div { width: 75%; padding: 0 1rem; box-sizing: border-box; }

section .inner #noticeBoard .container ul li article a div span { width: 100%; font-size: .8rem; color: #444; }

section .inner #noticeBoard .container ul li article a div h1 { font-size: 1.2em; font-weight: bold; width: 100%; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; margin-top: .2em; }

section .inner #noticeBoard .container ul li article a div p { margin-top: 1em; max-height: 4.2em; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* 라인수 */ -webkit-box-orient: vertical; word-wrap: break-word; line-height: 1.4em; height: 4.2em; padding: 0 .2em; font-size: .95em; box-sizing: border-box; width: 100%; color: #444; }

section .inner #noticeBoard .container ul li article a div span.moreview { color: #7576ca; width: 100%; display: block; margin-top: 2em; font-size: .8em; text-align: right; }
