$gray: #bbb;
$color-blue: #7576ca;
$dim: rgba(0, 0, 0, .6);
$dimd: rgba(255, 255, 255, .4);
$white: #fff;
$normal: #222;
body{
    letter-spacing: -.5px;
}
dd{
    word-break: keep-all;
}

/*main_visual (sub_visual)*/
.sub_visual{
    width: 100%;
}
.visual_bg{
    background: url("../images/solution.jpg")no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    //background-attachment: fixed;
    width: 100%;
    height: 450px;
}
/*tab_menu*/
.sub_visual{
    nav{
        position: relative;
        .tab_menu{
            width: 100%;
                height: 60px;
                line-height: 60px;
                position: absolute;
                bottom: -60px;
                left: 0;
                background: $color-blue;
            ul{
                li{
                    text-align: center;
                    float: right;
                    position: relative;
                    box-sizing: border-box;
                    padding: 0 20px;

                    span{
                        color: $white;
                        font-size: 16px;
                        letter-spacing: -1px;
                    }
        
                    a{
                        color: $normal;
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                li.home{
                    position: relative;
                    img{
                        width: 25px;
                        height: 25px;
                        vertical-align: middle;
                    }

                    &:after{
                        content: "";
                        background: url("../images/arrow.svg")no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: 15px;
                        height: 15px;
                    }
                }
                li.sub_list{
                    position: relative;
                    &:after{
                        content: "";
                        background: url("../images/arrow.svg")no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: 15px;
                        height: 15px;
                    }
                }
                li.tab_list{
                    padding: 0 60px 0 20px;
                    position: relative;
                    cursor: pointer;
                    box-sizing: border-box;

                    span{
                        text-align: right;
                    }

                    &:after{
                        content:"";
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);
                        border-style: solid;
                        border-width: 5px;
                        border-color: $white transparent transparent transparent;
                    }

                    ul{
                        display: none;
                        position: absolute;
                        top: 60px;
                        left: 0;
                        width: 100%;
                        background: $white;
                        border: 1px solid $gray;
                        li{
                            width: 100%;
                            height: 60px;
                            overflow: hidden;
                            text-align: left;
                            span{
                                color: $normal;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*main*/
main {
    section{
        padding: 80px 0;
        .box-container{
            padding-top: 80px;
            .box{
                display: flex;
                flex-flow: row wrap;
                .img_box{
                    min-height: 300px;
                    flex: 1;
                    background: url("../images/mes_solution.png")no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }
                .img_box.erp{
                    background: url("../images/erp_solution.png")no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .text_box.head{
                    flex: 1;
                    b{
                        font-family: 'Titillium Web', sans-serif;
                    }
                    h2{
                        display: inline-block;
                        padding-bottom: 40px;
                        span{
                            display: block;
                            font-size: 20px;
                        }
                    }
                    h3{
                        font-size: 18px;
                        font-weight: 500;
                        letter-spacing: -.5px;
                    }
                }
            }
        }
        .info_box{
            .box{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                .img_box{
                    flex: 1.5;
                    min-height: 400px;
                    background: url("../images/info_mes.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }
                .img_box.erp{
                    background: url("../images/info_erp.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }
                .text_box{
                    flex: 1;
                    dl{
                        text-align: center;
                        margin: 80px 0;

                        dt{
                            letter-spacing: -.5px;
                            font-size: 20px;
                            font-weight: 600;
                        }

                        dd{
                            letter-spacing: -1px;
                        }
                    }
                }
            }
        }
        .dl_box{
            width: 100%;
            display: flex;
            flex-flow: row wrap;

            dl{
                flex: 1;
                padding: 40px;
                margin: 0 10px;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,.15);
                box-sizing: border-box;

                dt{
                    font-size: 22px;
                    margin-bottom: 40px;
                    font-weight: 700;
                }
                dd{
                    font-size: 16px;
                    margin: 20px 0;
                    letter-spacing: -1px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1240px) and (max-width: 1599px){
    
    
}
@media only screen and (min-width: 1181px) and (max-width: 1239px){
    
    
}

@media only screen and (max-width: 1180px){
}


@media only screen and (max-width:1024px){

    
}

@media only screen and (max-width: 768px){
    main section .box-container .box{
        .img_box{
            flex: none;
            width: 100%;
            height: 400px;
        }
        .text_box{
            flex: none;
            padding: 0 40px;
        }
    }
    main section .info_box .box{
        
        .img_box{
            order:-1;
            flex: none;
            width: 100%;
            height: auto;
        }
        .text_box{
            display: flex;
            flex-flow: column wrap;
            align-content: center;
            justify-content: center;
            dl{
                min-height: 150px;
                margin: 10px;
                
            }
        }
    }
    main section .dl_box {
        flex-flow: column wrap;
        dl{
            flex: none;
            margin: 10px 0;
        }
    }
}

@media only screen and (max-width:640px){
    
}

@media only screen and (max-width:480px){
    .sub_visual nav .tab_menu ul li.sub_list { display: none; }
    main section .info_box .box .img_box{
        min-height: 200px;
    }
}
@media only screen and (max-width:360px){
}