body { letter-spacing: -.5px; }

dd { word-break: keep-all; }

/*main_visual (sub_visual)*/
.sub_visual { width: 100%; }

.visual_bg { background: url("../images/solution.jpg") no-repeat; background-size: cover; background-position: 50% 20%; width: 100%; height: 450px; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15); }

/*tab_menu*/
/*main*/
main section { padding: 80px 0; }

main section .box-container .box { display: flex; flex-flow: row wrap; }

main section .box-container .box .img_box { min-height: 300px; flex: 1; }

main section .box-container .box .img_box.mes { background: url("../images/mes_solution.png") no-repeat; background-size: contain; background-position: 50% 50%; }

main section .box-container .box .img_box.erp { background: url("../images/erp_solution.png") no-repeat; background-size: contain; background-position: 50% 50%; }

main section .box-container .box .img_box.modeler { background: url("../images/modeler_solution.png") no-repeat; background-size: contain; background-position: 50% 50%; }

main section .box-container .box .text_box.head { flex: 1; }

main section .box-container .box .text_box.head b { font-family: 'Titillium Web', sans-serif; }

main section .box-container .box .text_box.head h2 { display: inline-block; padding-bottom: 40px; }

main section .box-container .box .text_box.head h2 span { display: block; font-size: 20px; }

main section .box-container .box .text_box.head h3 { font-size: 18px; font-weight: 500; letter-spacing: -.5px; }

main section .info_box .box { display: flex; flex-flow: row wrap; justify-content: center; align-items: center; }

main section .info_box .box .img_box.mes { flex: 1.5; min-height: 400px; background: url("../images/info_mes.png") no-repeat; background-size: contain; background-position: 50% 50%; }

main section .info_box .box .img_box.erp { background: url("../images/info_erp.png") no-repeat; background-size: contain; background-position: 50% 50%; }

main section .info_box .box .text_box { flex: 1; }

main section .info_box .box .text_box dl { text-align: center; margin: 80px 0; }

main section .info_box .box .text_box dl dt { letter-spacing: -.5px; font-size: 20px; font-weight: 600; }

main section .info_box .box .text_box dl dd { letter-spacing: -1px; }

main section .dl_box { width: 100%; display: flex; flex-flow: row wrap; }

main section .dl_box dl { flex: 1; padding: 40px; margin: 0 10px; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15); box-sizing: border-box; }

main section .dl_box dl dt { font-size: 22px; margin-bottom: 40px; font-weight: 700; }

main section .dl_box dl dd { font-size: 16px; margin: 20px 0; letter-spacing: -1px; }

@media only screen and (max-width: 768px) { main section .box-container .box .img_box { flex: none; width: 100%; height: 400px; }
  main section .box-container .box .text_box { flex: none; padding: 0 40px; }
  main section .info_box .box .img_box { order: -1; flex: none; width: 100%; height: auto; }
  main section .info_box .box .text_box { display: flex; flex-flow: column wrap; align-content: center; justify-content: center; }
  main section .info_box .box .text_box dl { min-height: 150px; margin: 10px; }
  main section .dl_box { flex-flow: column wrap; }
  main section .dl_box dl { flex: none; margin: 10px 0; } }

@media only screen and (max-width: 480px) { main section .info_box .box .img_box { min-height: 200px; } }
