$color-pink: #ffdede;
$color-blue: #7ab5c4;
$color-red: #ed1c24;
$dim: rgba(0, 0, 0, .2);
$white: #fff;
$normal: rgb(46, 46, 46);
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Noto Sans KR", "Noto Sans KR", Lato, 돋움, Dotum, Helvetica, AppleGothic, sans-serif;
    color: $normal;
    font-size: 18px;
    overflow-x:hidden;
    background: #fff;
}
.inner {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
}
.text_box{
    word-break: keep-all;
    line-height: 2;
}
.box-container{
    opacity: 0;
}
#header {
    position:fixed;
    top:0; 
    left:0; 
    width:100%; 
    height:70px; 
    background:rgba(0, 0, 0, .4);
    box-sizing:border-box; 
    z-index:450;  
    transition: all .3s;
}

.headerWrap {
    position:relative; 
    height: 100%;
    margin:0 auto;

    .inner{
        height: 100%;
        position: relative;

        h1 {
            position: absolute; 
            top:50%;
            left:0;
            width:160px;
            transform: translateY(-50%);
            transition: all .3s; 
            z-index:50;
    
            a {
                display:block;
    
                img {
                    display: block;
                    width:100%;
                    transition: all .3s;
                }
            }
        }
        
        nav .gnb{
            position: fixed;
            top: 0;
            left: 50%;
            padding-bottom: 10px;
            transform: translateX(-50%);
            z-index: 10;

            li{
                position: relative;
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
                line-height: 70px;
                transition: all .3s; 

                &:first-child a{
                    padding-left: 0px;
                }

                a{
                    display: block;
                    width: 140px;
                    margin: 0 auto;
                    text-align: center;
                    color: $white;
                    
                    span{
                        position: relative;
                        display: block;

                        &:after{
                            content: '';
                            width: 0;
                            height: 3px;
                            background: $color-blue;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            opacity: 0;
                            transition: all .3s;
                        }
                    }
                }
                &:hover a span{
                    color: $color-blue;
                }
                &:hover a span::after{
                    width: 100%;
                    opacity: 1;
                }

            }
        }

        .util_menu{
            position: absolute;
            right: 0;
            top: 15px;
            z-index: 50;

            .lang_util{
                display: inline-block;
                position: relative;

                .lang{
                    width: 66px;
                    height: 40px;
                    border: 1px solid #eee;
                    font-size: 14px;
                    text-align: center;
                    box-sizing: border-box;
                    line-height: 38px;
                    cursor: pointer;

                    span{
                        position: relative;
                        display: inline-block;
                        padding-right: 20px;
                        color: $white;

                        &:after{
                            position: absolute;
                            right: 0;
                            top: 50%;
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 0;
                            transform: translateY(-20%);
                            border-style: solid;
                            border-width: 5px;
                            border-color: $white transparent transparent transparent;
                        }
                    }
                }
                ul {
                    display: none;
                    position: absolute;
                    top: 39px;
                    width: 100%;
                    padding: 5px 0;
                    border: 1px solid #222;
                    background: $white;
                    box-sizing: border-box;

                    li{
                        font-size: 14px;
                        line-height: 25px;

                        a{
                            color: #222;
                            padding: 0 8px;
                            display: block;
                        }
                    }
                }
            }

            .mNav{
                display: none;
                cursor: pointer;
                display: inline-block;
                width: 35px;
                margin-left: 25px;
                z-index: 600;
                vertical-align: middle;
                position: relative;

                div{
                    display: none;
                    float: right;
                    width: 100%;
                    height: 3px;
                    background: $white;
                    margin-top: 9px;
                    transition: all .4s;
                }
                
                .bar1{
                    margin-top: 0;                
                }
            }

            .mNav.on{
                .bar1{
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg) scale(1.3);
                }
                .bar2{
                    opacity: 0;
                }
                .bar3{
                    position: absolute;
                    top: -10%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg) scale(1.3);
                }
            }
        }
    }
}

#header.on{
    border: 1px solid #dfdfdf;
    background: rgba(255, 255, 255, 1);

    nav ul li a{
        color: #222;
    }
    
    .lang{
        border-color: #222;
        
        span{
            color: #222;

            &:after{
                border-color: #222 transparent transparent transparent;
            }
        }
    }

    .mNav div{
        background: #222;
    }
}

main .main_visual{
    width: 100%;
    height: 100vh;
    position: relative;

    .fade {
        width: 100%;
        height: 100vh;
        position: relative;
        
        .videoArea{
        width: 100%;
        box-sizing: border-box;
        height: 100vh;
    
            video {
                min-width: 100%;
                min-height: 100vh;
                object-fit: contain;
                object-position: 50% 50%;
            }
        }

        .slide_text{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, .1);

            .inner{
                height: 100%;
                .text_wrap{
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translateY(-50%);

                    h3{
                        width: 100%;
                        font-size: 70px;
                        color: #fff;
                        font-weight: 500;
                        padding: 20px 0;
                        text-shadow: 2px 2px 0 rgb(100, 100, 100),
                                     4px 4px 0 rgb(100, 100, 100);
                        opacity: .4;
                        transition: all .4s;
                        cursor: pointer;

                        b{
                            display: block;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .main_inner{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        width: 80vw;
        height: 200px;
        position: absolute;
        bottom:0;
        left: 50%;
        transform:translateX(-50%);

        .slide-controls{
            width: 100%;
            
            .slick-dots{
                cursor: pointer;
                
                li {
                    display: inline-block;
                    position: relative;
                    margin-left: 15px;

                    &:after{
                        content: '';
                        display: inline-block;
                        margin-left: 2px;
                        margin-bottom: 5px;
                        width: 0;
                        height: 4px;
                        background: $white;
                        transition: width .4s linear;
                    }

                    a{
                        color: #fff;
                        text-shadow: 2px 2px 0 rgb(100, 100, 100);
                    }
                }
                li.slick-active {

                    &:after{
                        width: 40px;
                    }

                    a{
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

#content{
    section{
        width: 100%;
        box-sizing: border-box;
        position: relative;
        
        .section_head{
            opacity: 0;
            padding: 90px 0 40px;
            box-sizing: border-box;
            text-align: center;

            h2{
                font-weight: 800;
                color: #222;
                line-height: 1;
                font-size: 24px;
            }
            h3{
                margin-top: 25px;
                font-size: 20px;
            }
        }

        .box-container{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        
            .box{
                border: 2px solid $normal;
            }
        }
    }

    #business{
        background: $white;
        
        .box-container{

            .box{
                width: 100%;
                min-height: 420px;
                border: none;
                opacity: 0;

                &:last-child{
                    margin-bottom: 0;
                }
                button{
                    display: block;
                    width: 60px;
                    height: 60px;
                    border: solid 6px #999;
                    border-radius: 100%;
                    transition: all .2s linear;
                    color: transparent;
                    background: #fff;
                    &:before, &:after{
                        content:"";
                        position: absolute;
                        width:35%;
                        height: 10%;
                        top:41%;
                        left:55%;
                        background: #999;
                        z-index: 2;
                        transform: translate(-50%, -50%) rotate(45deg);
                        transition: all .2s linear;
                    }
                    &:after{
                        z-index: 3;
                        top:59%;
                        left:55%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                    &:hover{
                        border: solid 8px #777;
                        &:after, &:before{
                        background: #777;
                        }
                    }
                    &:active{
                        border: solid 8px #111;
                        &:after, &:before{
                        background: #111;
                        }
                    }
                }
                button.slick-arrow{
                    position: absolute;
                    top: 50%;
                }
                button.slick-arrow.slick-prev{
                    transform: rotate(180deg);
                    left: 10%;
                    z-index: 182;
                }
                button.slick-arrow.slick-next{
                    right: 10%;
                    z-index: 182;
                }

                .slide_box{
                    width: 100%;
                    height: 700px;
                    box-sizing: border-box;

                    .img_box{
                        width: 100%;
                        height: auto;
                        min-height: 500px;
                        background: url("../images/smart2.jpg") no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                    }

                    &:nth-child(2){
                        .img_box{
                            background: url("../images/smart.jpg") no-repeat;
                            background-size: contain;
                            background-position: 50% 50%;
                        }
                    }

                    .text_box{
    
                        div{
                            h3{
                                margin-bottom: 10px;
                                text-transform: uppercase;
                                padding: 0 10px;
                                box-sizing: border-box;
                            }

                            p{
                                padding: 0 10px;
                                box-sizing: border-box;
                            }
                        }
                        a{
                            display: block;
                            width: 200px;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            color: #fff;
                            background: #222;
                            margin: 20px 0 20px 10px; 
                            transition: all .4s;

                            &:hover{
                                background: $color-blue;
                            }

                            img{
                                vertical-align: middle;
                                margin-left: 10px;
                            }
                        }
                    }
                    &:first-child .text_box{
                        text-align: left;
                    }
                }
            }
        }
    }

    #solution{
        background: #fff;
        .box-container{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .box{
                flex: 1;
                cursor: pointer;
                min-width: 200px;
                min-height: 350px;
                text-align: center;
                position: relative;
                border: none;

                &:hover .link{
                    background: $color-blue;
                    transition: all .4s;
                }

                &:hover .link a{
                    color: #fff;
                }

                p{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    height: 80px;
                    line-height: 40px;
                    width: 100%;
                    opacity: 0;
                    font-size: 24px;
                    
                    span{
                        display: block;
                        font-size: 18px;
                        color: #666;
                        font-weight: 500;
                    }
                }
                .link{
                    width: 200px;
                    height: 50px;
                    margin: 20px auto 0;
                    overflow: hidden;
                    font-size: 14px;
                    line-height: 50px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    box-shadow: 4px 4px 0 #ddd;
                    
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: #555;
                    }
                }

                .img_box{
                    width: 100%;
                    height: 200px;
                    margin: 0 auto;
                    position: relative;
                    opacity: 0;
                    margin-bottom: 20px;

                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        line-height: 280px;
                        position: absolute;
                        font-family: 'Montserrat', sans-serif;
                        top: 0;
                        left: 0;
                        color: #fff;
                        font-weight: 600;
                        z-index: 182;
                        opacity: 0;
                    }
                
                }

                .img_box.cps{
                    background: url("../images/cps.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.modeler{
                    background: url("../images/modeler.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.edge{
                    background: url("../images/edge.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.edukit{
                    background: url("../images/edukit.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.erp{
                    background: url("../images/erp.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.mes{
                    background: url("../images/mes.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

            }
            
        }
    }

    #company{
        background-image: linear-gradient(transparent 41px, #eee 42px,transparent 12px),linear-gradient(90deg,transparent 41px,#eee 42px,transparent 12px);
        background-size: 100% 42px, 42px 100%;
        padding-bottom: 0;

        .box-container{
            width: 100%;

            .box{
                border: none;
                width: 100%;
                margin: 30px 0;

                .text_box{
                    padding: 0 40px;
                    box-sizing: border-box;
                    
                    h3{
                        text-align: center;
                        font-size: 20px;
                    }

                    h4{
                        text-align: left;
                        opacity: 0;
                    }

                    p{
                        margin:20px 0;
                        opacity: 0;

                        b{
                            font-style: italic;
                        }
                    }
                }
            }
            .box.cer{
                width: 100%;
                display: flex;
                min-height: 400px;

                .img_box{
                    flex: 1;
                    img{
                        height: auto;
                    }
                }
            }
        }
        .hello_uvc{
            width:100%;
            height: auto;
            min-height: 500px;
            position: relative;
            background: url("../images/web_banner_UVC2.jpg") no-repeat;
            background-position: 10% 50%;
            background-size: cover;
            opacity: 0;

            .important_link{
                display: block;
                width: 100%;
                height: 100%;
            }

            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 181;
                background: rgba(0, 0, 0, 0);
            }

            .hello_text{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: right;
                padding-right:10vw;
                box-sizing: border-box;
                z-index: 182;
                
                h3{
                    font-size: 60px;
                    font-weight: 800;
                    font-family: 'Montserrat', sans-serif;
                    color: #7ab5c4;
                    text-shadow: 4px 4px 0 #053150;
                    margin: 70px 0 20px 20px;
                }
    
                p{
                    font-size: 20px;
                    font-weight: 600;
                    color: #053150;
                    line-height: 1.8;
                    letter-spacing: -2px;
                    text-shadow: 2px 2px 0 $white;

                    em{
                        display: inline-block;
                        font-size: 18px;
                        color: #7ab5c4;
                        font-family: 'Montserrat', sans-serif;
                        margin-top: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    section#about{
        background: #eee;

        .box-container {
            padding-bottom: 50px;

            .box{
                cursor: pointer;
                width: 100%;
                border: 1px solid transparent;

                dl {
                   line-height: 1;
                   width: 100%;

                    dt{
                        font-weight: 600;
                        font-size: 20px;
                    }

                    dd{
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }

            .come{
                dt{
                    display: block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 1px solid #aaa;
                    position: relative;
                    margin-top: 30px;

                    &:before{
                        content: '';
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 20px;
                        opacity: .9;
                    }

                    span.come_btn{
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(-50%, -50%);
                        display: inline-block;
                        width: 30px;
                        height: 1px;
                        background: #222;
                        
                        &:after{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(90deg);
                            background: #222;
                            width: 100%;
                            height: 100%;
                            transition: all .2s;
                        }
                    }
                }
 
                dd{
                    display: none;
                    padding: 20px 20px 0;
                    box-sizing: border-box;
                    word-break: keep-all;
                }

                .building:before{
                    background: url(../images/company.png) no-repeat;
                    background-size: cover;
                    background-position: 100% 100%;
                }

                .car:before{
                    background: url(../images/car.png) no-repeat;
                    background-size: cover;
                    background-position: 100% 100%;
                }

                .subway:before{
                    background: url(../images/subway.png) no-repeat;
                    background-size: cover;
                    background-position: 100% 100%;
                }
            }

            .come.on{
                dt span.come_btn:after{
                    width: 0;
                }
                dd{
                    display: block;
                }
            }
            
        }
    }
}

footer{
    font-size: 16px;
    background: #222;
    padding: 30px 0;
    box-sizing: border-box;
    color: $white;

    address{

        ul li{
            display: inline-block;
            margin-right: 10px;

            a{
                color: #fff;
            }

            &:after{
                content: '';
                display: inline-block;
                width: 1px;
                height: 16px;
                background: #bbb;
                margin-left: 10px;
            }

            &:last-child{
                margin-right: 0;

                &:after{
                    width: 0;
                    margin-left: 0;
                }
            }
        }
    }
    
    p{
     margin: 10px 0;
    }
    
}

@media only screen and (max-width: 1180px){
    /*작은 모니터 pc*/
    #header .headerWrap .inner h1{
        width: 100px;
    }

    #header .headerWrap .inner #nav .gnb {
        display: none;
        top: 70px;
        width: 100%;
        background: #fff;
        padding-bottom: 0;

        li {
            width: 100%;
            line-height: 80px;
            border-bottom: 1px solid #dfdfdf;
            font-size: 18px;
            text-align: center;

            &:last-child{
                border-bottom: none;
            }

            a {  
                width: 100%;
                color: #222;
                padding: 0;

                span:after{
                    width: 0;
                }
            }
        }
    }
    #header .headerWrap .inner .util_menu {top: 50%; transform: translateY(-50%);}
    #header .headerWrap .inner .util_menu .mNav{display: inline-block;}
    #header .headerWrap .inner .util_menu .mNav div{display: block;}
    
    .main_visual section .slide .slide_text .inner .text_wrap h3{
        font-size: 50px;
        word-break: keep-all;
    }
}


@media only screen and (max-width:1024px){

    #content #company .box-container .box{
        flex-direction: column;

        .text_box{
            padding: 0;
            text-align: left;
            
            h4 {
                margin-bottom: 20px;
            }

            p{
                margin-bottom: 20px;
            }
        }

        .img_box{
            min-height: 400px;
            margin-bottom: 40px;
        }
    }
    #content #company .box-container .box.cer{
        .img_box{
            min-height: 0;
        }
    }
}

@media only screen and (max-width: 768px){
    #content #business .box-container{
        flex-flow: column wrap;
        justify-content: start;
        align-items: center;
        .box{
            width: 100%;
        }
    }

    #content #solution .box-container{
        flex-flow: column wrap;
        align-items: center;
    }
    /*아이패드*/

    #content #company .hello_uvc {
        
        .hello_text{
        padding-left: 10vw;
        word-break: keep-all;
        
            h3{
                font-size: 40px;
                font-weight: 800;
                font-family: 'Montserrat', sans-serif;
                color: #7ab5c4;
                text-shadow: 4px 4px 0 #053150;
                margin: 100px 0 20px;
            }

            p{
                font-size: 20px;
                font-weight: 600;
                color: #053150;
                line-height: 2;
                letter-spacing: -2px;
            }
        }
    }
}

@media only screen and (min-width:481px) and (max-width:640px){
    .section_head h3{
        letter-spacing: -.5px;
        word-break: keep-all;
        font-size: 20px;
    }
    /*모바일*/
    .main_visual .main_inner .slide-controls .slick-dots li{
        display: block;
        width: 100%;
    }
    #content #company .hello_uvc{
        background-position: 20% 50%;
    }
}

@media only screen and (min-width:320px) and (max-width:480px){
    .section_head h3{
        letter-spacing: -.5px;
        word-break: keep-all;
        font-size: 20px;
    }
    /*모바일에서 제일 작은 크기*/
    .inner{
        width: 100%;
        max-width: 90vw;
    }
    .main_visual .main_inner .slide-controls .slick-dots li{
        width: 100%;
        display: block;
    }
    #content #company .hello_uvc{
        background-position: 20% 50%;

        .hello_text h3{
            font-size: 32px;
            margin-top: 40px;
        }
    }
}