$color-pink: #ffdede;
$color-blue: #7576ca;
$color-red: #ed1c24;
$dim: rgba(0, 0, 0, .2);
$dimd: rgba(255, 255, 255, .4);
$white: #fff;
$normal: #222;
html{
    scroll-behavior: smooth;
    overflow-x:hidden;
}
body{
    font-family: "Noto Sans KR", Lato, 돋움, Dotum, Helvetica, AppleGothic, sans-serif;
    color: $normal;
    font-size: 15px;
    overflow-x:hidden;
    background: $white;
}
.inner {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
}
.text_box{
    word-break: keep-all;
    line-height: 2;
}
/*header*/
#header {
    position:fixed;
    top:0; 
    left:0; 
    width:100%; 
    height:70px; 
    background:rgba(0, 0, 0, .4);
    box-sizing:border-box; 
    z-index:450;  
    transition: all .3s;
}

.headerWrap {
    position:relative; 
    height: 100%;
    margin:0 auto;

    .inner{
        height: 100%;
        position: relative;

        h1 {
            position: absolute; 
            top:50%;
            left:0;
            width:160px;
            transform: translateY(-50%);
            transition: all .3s; 
            z-index:50;
    
            a {
                display:block;
    
                img {
                    display: block;
                    width:100%;
                    transition: all .3s;
                }
            }
        }
        
        nav .gnb{
            position: fixed;
            top: 0;
            left: 50%;
            padding-bottom: 10px;
            transform: translateX(-50%);
            z-index: 10;

            li{
                position: relative;
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
                line-height: 70px;
                transition: all .3s; 

                &:first-child a{
                    padding-left: 0px;
                }

                a{
                    display: block;
                    width: 140px;
                    margin: 0 auto;
                    text-align: center;
                    color: $white;
                    
                    span{
                        position: relative;
                        display: block;

                        &:after{
                            content: '';
                            width: 0;
                            height: 3px;
                            background: $color-blue;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            opacity: 0;
                            transition: all .3s;
                        }
                    }
                }
                &:hover a span{
                    color: $color-blue;
                }
                &:hover a span::after{
                    width: 100%;
                    opacity: 1;
                }

            }
        }

        .util_menu{
            position: absolute;
            right: 0;
            top: 15px;
            z-index: 50;

            .lang_util{
                display: inline-block;
                position: relative;

                .lang{
                    width: 66px;
                    height: 40px;
                    font-size: 14px;
                    text-align: center;
                    box-sizing: border-box;
                    line-height: 38px;
                    cursor: pointer;

                    span{
                        position: relative;
                        display: inline-block;
                        padding-right: 20px;
                        color: $white;

                        &:after{
                            position: absolute;
                            right: 0;
                            top: 50%;
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 0;
                            transform: translateY(-20%);
                            border-style: solid;
                            border-width: 5px;
                            border-color: $white transparent transparent transparent;
                        }
                    }
                }
                ul {
                    display: none;
                    position: absolute;
                    top: 39px;
                    width: 100%;
                    padding: 5px 0;
                    border: 1px solid $normal;
                    background: $white;
                    box-sizing: border-box;

                    li{
                        font-size: 14px;
                        line-height: 25px;

                        a{
                            color: $normal;
                            padding: 0 8px;
                            display: block;
                        }
                    }
                }
            }

            .mNav{
                display: none;
                cursor: pointer;
                display: inline-block;
                width: 35px;
                margin-left: 25px;
                z-index: 600;
                vertical-align: middle;
                position: relative;

                div{
                    display: none;
                    float: right;
                    width: 100%;
                    height: 3px;
                    background: $white;
                    margin-top: 9px;
                    transition: all .4s;
                }
                
                .bar1{
                    margin-top: 0;                
                }
            }

            .mNav.on{
                .bar1{
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg) scale(1.3);
                }
                .bar2{
                    opacity: 0;
                }
                .bar3{
                    position: absolute;
                    top: -10%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg) scale(1.3);
                }
            }
        }
    }
}

#header.on{
    border: 1px solid #dfdfdf;
    background: rgba(255, 255, 255, 1);

    nav ul li a{
        color: $normal;
    }
    
    .lang{
        
        span{
            color: $normal;

            &:after{
                border-color: $normal transparent transparent transparent;
            }
        }
    }

    .mNav div{
        background: $normal;
    }
}
/*main_visual*/
main .main_visual{
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,.15);

    .fade {
        width: 100%;
        height: 100vh;
        position: relative;
        
        .videoArea{
        width: 100%;
        box-sizing: border-box;
        height: 100vh;
    
            video {
                min-width: 100%;
                min-height: 100vh;
                object-fit: contain;
                object-position: 50% 50%;
            }
        }

        .slide_text{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, .3);

            .inner{
                width: 80vw;
                height: 100%;
                position: relative;
                .text_wrap{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;

                    h3{
                        width: 100%;
                        font-size: 70px;
                        color: #fff;
                        padding: 20px 0;
                        text-shadow: 2px 2px 0 rgb(100, 100, 100),
                                     4px 4px 0 rgb(100, 100, 100);
                        opacity: .4;
                        transition: all .4s;
                        cursor: pointer;

                        b{
                            display: block;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .slide-controls{
        position: absolute;
        bottom: 10vh;
        left: 10%;
    
        .slick-dots{
            cursor: pointer;
            
            li {
                display: inline-block;
                margin-left: 15px;
    
                &:after{
                    content: '';
                    display: inline-block;
                    margin-left: 2px;
                    margin-bottom: 5px;
                    width: 0;
                    height: 4px;
                    background: $white;
                    transition: width .4s linear;
                }
    
                a{
                    color: #fff;
                    text-shadow: 2px 2px 0 rgb(100, 100, 100);
                }
            }
            li.slick-active {
    
                &:after{
                    width: 40px;
                }
    
                a{
                    font-weight: 800;
                }
            }
        }
    }
}

#content{
    section{
        width: 100%;
        position: relative;
        box-shadow: 0 15px 20px 0 rgba(0,0,0,.3);
        padding:50px 0;
        
        .section_head{
            padding: 80px 0 40px;
            box-sizing: border-box !important;
            margin: 0 auto;
            text-align: center;
            word-break: keep-all;

            h2{
                max-width: 70vw;
                font-weight: 500;
                line-height: 1;
                font-size: 30px;
                margin: 0 auto;
                font-family: 'Noto Sans KR', sans-serif;
            
                b{
                    font-weight: bold;
                    font-family: 'Titillium Web', sans-serif;
                }
            }
            p{
                max-width: 80vw;
                font-weight: 400;
                line-height: 2;
                font-size: 15px;
                padding: 20px 0;
                margin: 0 auto;

            }
        }

        .box-container{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        
            .box{
                border: 2px solid $normal;
            }
        }
    }
/*business*/
    #business{
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        overflow: hidden;
        padding-bottom: 80px;
        
        .box-container{

            .box{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                cursor: pointer;
                border: 1px solid $white;

                .text_box{
                    height: 300px;
                    flex: 1;
                    padding: 20px;
                    box-sizing: border-box;
                    box-shadow: 0 15px 20px 0 rgba(0,0,0,.15);

                    &:hover div p, &:hover div a{
                        opacity: 1;
                        transition: all .4s;
                    }

                    h3{
                        margin-bottom: 10px;
                        box-sizing: border-box;
                        color: $white;
                        font-size: 20px;

                        b{
                            font-family: 'Titillium Web', sans-serif;
                            font-weight: 700;
                        }
                    }

                    div{
                        width: 100%;
                        height: 200px;
                        position: relative;
                        
                        p{
                            opacity: 0;
                            color: $white;
                            font-size: 16px;
                            letter-spacing: -.5px;
                        }
                        a{
                            opacity: 0;
                            color: $white;
                            display: inline-block;
                            padding: 2px 10px;
                            border: 1px solid $white;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 181;

                            &:hover{
                                color: $normal;
                            }

                            &:hover:after{
                                width: 100%;
                                background: $white;
                                z-index: -1;
                            }

                            &:after{
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 100%;
                                background: transparent;
                                transition: width .5s;
                            }
                        }
                    }
                }
                .b1{
                    background: url("../images/b1.jpg") no-repeat;
                    background-size: cover;
                    background-position: 50% 50%;
                    flex: 2;
                    margin-right: 40px;

                    &:hover{
                        background: linear-gradient(180deg, rgba(0, 0, 0, .44), transparent 80%, transparent), url("../images/b1.jpg") no-repeat;
                        background-size: cover;
                        background-position: 50% 50%;
                        box-shadow: 0 20px 30px 0 rgba(0,0,0,.3);
                    }
                }
                .b2{
                    background: url("../images/b2.jpg") no-repeat;
                    background-size: cover;
                    background-position: 50% 50%;
                    flex: 1;

                    &:hover{
                        background: linear-gradient(180deg, rgba(0, 0, 0, .44), transparent 80%, transparent), url("../images/b2.jpg") no-repeat;
                        background-size: cover;
                        background-position: 50% 50%;
                        box-shadow: 0 20px 30px 0 rgba(0,0,0,.3);
                    }
                }
                .b3{
                    background: url("../images/b3.jpg") no-repeat;
                    background-size: cover;
                    background-position: 50% 30%;
                    flex: 1;

                    &:hover{
                        background: linear-gradient(180deg, rgba(0, 0, 0, .44), transparent 80%, transparent), url("../images/b3.jpg") no-repeat;
                        background-size: cover;
                        background-position: 50% 50%;
                        box-shadow: 0 20px 30px 0 rgba(0,0,0,.3);
                    }
                }
                .b4{
                    background: url("../images/b4.jpg")no-repeat;
                    background-size: cover;
                    background-position: 50% 50%;
                    flex: 2;
                    margin-left: 40px;

                    &:hover{
                        background: linear-gradient(180deg, rgba(0, 0, 0, .44), transparent 80%, transparent), url("../images/b4.jpg") no-repeat;
                        background-size: cover;
                        background-position: 50% 50%;
                        box-shadow: 0 20px 30px 0 rgba(0,0,0,.3);
                    }
                }
            }
            .box:nth-child(2){
                margin: 40px 0 0;
            }
        }
    }
/*solution*/
    #solution{
        padding-bottom: 80px;
        background: #000;
        box-shadow: none;
        z-index: 182;
        
        .section_head{
            position: relative;
            z-index: 182;
            h2{
                color: $white;
            }
            p{
                color: $white;
            }
        }
        .box-container{
            position: relative;
            z-index: 182;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            .box{
                min-width: 210px;
                min-height: 210px;
                text-align: center;
                position: relative;
                border: none;
                cursor: zoom-in;
                padding-bottom: 20px;
                box-sizing: border-box;
                margin: 10px 0;

                p{
                    font-weight: 600;
                    font-family: 'Titillium Web', sans-serif;
                    height: 80px;
                    line-height: 40px;
                    width: 100%;
                    font-size: 20px;
                    color: $white;
                    
                    span{
                        font-family: 'Titillium Web', 'Noto Sans KR', sans-serif;
                        display: block;
                        font-size: 18px;
                        color: $white;
                        font-weight: 400;
                    }
                }
                .img_box{
                    width: 100%;
                    height: 160px;
                    position: relative;
                }

                .img_box.cps{
                    background: url("../images/cps.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.modeler{
                    background: url("../images/modeler.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.edge{
                    background: url("../images/edge.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.edukit{
                    background: url("../images/edukit.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.erp{
                    background: url("../images/erp.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }

                .img_box.mes{
                    background: url("../images/mes.png") no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }
            }
        }
    }
/*company*/
    #company{
        padding-bottom: 0;
        background: $white;
        box-shadow: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .section_head{
            display: inline-block;
            h2{
                color: $normal;
                position: relative;
                letter-spacing: -1px;
                line-height: 1.4;

                &:before{
                    content:"";
                    display: block;
                    background: url("../images/quote.svg")no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    left: -30px;
                }
                &:after{
                    content:"";
                    display: block;
                    background: url("../images/quote.svg")no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                    width: 20px;
                    height: 20px;
                    transform: rotate(180deg);
                    position: absolute;
                    top: 0;
                    right: -30px;
                }
            }
        }

        .box-container{
            width: 100%;
            height: 100%;

            .box{
                border: none;
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row wrap;

                .text_box{
                    width: 100%;
                    position: relative;
                    z-index: 182;
                    box-sizing: border-box;
                }
                .text_box.con{
                    .con_slide.slick-slider{
                        width: 100%;
                        color: $normal;
                        position: relative;

                        button.slick-arrow{
                            display: block;
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            position: absolute;
                            transform: translateY(-50%);
                            top: 40%;
                            z-index: 182;
                            //background-image: linear-gradient(to right top, #6795da, #00b6f4, #00d2d8, #00e58c, #a8eb12);
                            box-shadow: 15px 15px 20px 0 rgba(0,0,0,.15);
                            color: transparent;
                        }
                        button.slick-arrow.slick-prev{
                            background: url("../images/prev.svg")no-repeat;
                            background-size: cover;
                            left: 40px;
                        }
                        button.slick-arrow.slick-next{
                            
                            background: url("../images/next.svg")no-repeat;
                            background-size: cover;
                            right: 40px;
                        }
                        li{
                            cursor: grab;
                            height: 400px;
                            margin: 0 20px 80px;
                            transition: all .8s;
                            position: relative;

                            div{
                                width: 80%;
                                height: 300px;
                                background: $white;
                                position: absolute;
                                top: 20px;
                                left: 20px;
                                box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
                                background: url("../images/3d_room.png") no-repeat;
                                background-size: cover;
                                background-position: 50% 50%;
                                z-index: 183;
                            }
                            section{
                                position: absolute;
                                bottom: 50px;
                                right: 0;
                                z-index: 185;
                                width: 200px;
                                padding: 20px;
                                background: $white;
                                box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
                                h3{
                                    font-family: 'Titillium Web', sans-serif;
                                    color: $normal;
                                    font-size: 18px;
                                    text-align: center;
                                    font-weight: 700;
                                }
                            }
                        }
                        li.slick-slide.slick-center{
                            width: 100%;
                            filter: none;

                            &:hover div{
                                transition: all .8s;
                            }
                        }
                        li.ho{
                            div{
                                background: url("../images/hololens_2.jpg")no-repeat;
                                background-size: cover;
                                background-position:50% 50%;
                            }
                        }
                        li.mo{
                            div{
                                background: url("../images/mobile_2.jpg")no-repeat;
                                background-size: cover;
                                background-position:50% 50%;
                            }
                        }
                        li.idea{
                            div{
                                background: url("../images/idea_2.jpg")no-repeat;
                                background-position: 50% 50%;
                                background-size: cover;
                            }
                        }
                        li.re{
                            div{
                                background: url("../images/3d_vr_2.jpg") no-repeat;
                                background-size: cover;
                                background-position:50% 50%;
                            }
                        }
                    }
                }
            }
        }
        .happy{
            width: 100%;
            height: 500px;
            background: url("../images/happy_work_place.jpg")no-repeat fixed;
            background-size: cover;
            background-position: 50% 50%;

            .box-container{
                position: relative;
                .box{
                    width: 30vw;
                    height: 400px;
                    background: $white;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10%;
                    padding: 40px;
                    box-sizing: border-box;

                    .text_box{
                        h2{
                            font-family: 'Titillium Web', sans-serif;
                            line-height: 1.4;
                        }
                        p{
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 1.7;
                            padding-top: 14px;
                        }
                        a{
                            border: 1px solid $normal;
                            padding: 8px 48px;
                            display: inline-block;
                            font-size: 14px;
                            color: $normal;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 182;

                            &:after{
                                content:"";
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 100%;
                                background: $normal;
                                transition: width .25s;
                                z-index: -1;
                            }

                            &:hover{
                                color: #fff;

                                &:after{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
/*about*/
    #about{
        padding-top: 0;
        padding-bottom: 0;
        .section_head{
            h2{
                color: $normal;
            }
        }

        #googleMap{
            width:100%;
            height:400px;
            box-shadow: 0 15px 20px 0 rgba(0,0,0,.15);
        }

        .box-container {
            padding-bottom: 50px;

            .box{
                cursor: pointer;
                width: 100%;
                border: none;

                dl {
                   line-height: 1;
                   width: 100%;

                    dt{
                        font-size: 18px;
                    }

                    dd{
                        font-size: 15px;
                    }
                }
            }

            .come{
                dt{
                    display: block;
                    width: 100%;
                    height: 70px;
                    line-height: 70px;
                    position: relative;
                    margin-top: 30px;
                    box-shadow: 0 8px 10px 0 rgba(0,0,0,.15);
                    background: transparent;
                    box-sizing: border-box;

                    &:before{
                        content: '';
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        vertical-align: middle;
                        margin:0 20px;
                        opacity: .9;
                    }

                    span.come_btn{
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(-50%, -50%);
                        display: inline-block;
                        width: 30px;
                        height: 1px;
                        background: $normal;
                        
                        &:after{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(90deg);
                            background: $normal;
                            width: 100%;
                            height: 100%;
                            transition: all .2s;
                        }
                    }
                }
 
                dd{
                    display: none;
                    padding: 20px 20px 0;
                    box-sizing: border-box;
                    word-break: keep-all;
                }

                .building:before{
                    background: url("../images/company.png") no-repeat;
                    background-size: cover;
                    background-position: 100% 100%;
                }

                .car:before{
                    background: url("../images/car.png") no-repeat;
                    background-size: cover;
                    background-position: 100% 100%;
                }

                .subway:before{
                    background: url("../images/subway.png") no-repeat;
                    background-size: cover;
                    background-position: 100% 100%;
                }
            }

            .come.on{
                dt span.come_btn:after{
                    width: 0;
                }
                dd{
                    display: block;
                }
            }
            
        }
    }
}
/*footer*/
footer{
    font-size: 15px;
    background: $normal;
    padding: 40px;
    box-sizing: border-box;
    color: $white;

    address{
        ul li{
            display: inline-block;
            margin-right: 10px;

            a{
                color: #fff;
            }

            &:after{
                content: '';
                display: inline-block;
                width: 1px;
                height: 15px;
                background: #bbb;
                margin-left: 10px;
            }

            &:nth-child(3){
                margin-right: 0;
                
                &:after{
                    width: 0;
                    margin-left: 0;
                }
            }

            &:last-child{
                margin-right: 0;

                &:after{
                    width: 0;
                    margin-left: 0;
                }
            }
        }
    }
    
    p{
     margin: 10px 0;
     color: #ddd;
     font-size: 14px;
    }
    
}
@media only screen and (min-width: 2800px){
    body, .inner{
        max-width: 2800px;
        margin: 0 auto;
    }
    #header{
        max-width: 2800px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media only screen and (min-width: 1240px) and (max-width: 1599px){
    #content #solution .box-container {
        
        .box{
            min-width: 360px;
            min-height: 360px;

             .img_box{
                width: 100%;
                height: 300px;
            }
        }
    }
    #content #company .box-container .box .text_box.con .con_slide.slick-slider li{
        div  {
            width: 300px;
        }
        section{
            right: 30px;
        }
    }
    #content #company .happy .box-container .box{
        width: 40vw;
    }
    
}
@media only screen and (min-width: 1181px) and (max-width: 1239px){
    #content #solution .box-container .box{
        min-width: 320px;
        min-height: 280px;

        .img_box{
            width: 100%;
        }
    }
    #content #company .box-container .box .text_box.con .con_slide.slick-slider li{
        div  {
            width: 280px;
        }
        section{
            right: 10px;
        }
    }
    #content #company .happy .box-container .box{
        width: 40vw;
    }
    
}

@media only screen and (max-width: 1180px){
    .inner{
        max-width: 80vw !important;
    }

    /*작은 모니터 pc*/
    #header .headerWrap .inner h1{
        width: 100px;
    }

    #header .headerWrap .inner #nav .gnb {
        display: none;
        top: 70px;
        width: 100%;
        background: #fff;
        padding-bottom: 0;

        li {
            width: 100%;
            line-height: 80px;
            border-bottom: 1px solid #dfdfdf;
            font-size: 18px;
            text-align: center;

            &:last-child{
                border-bottom: none;
            }

            a {  
                width: 100%;
                color: $normal;
                padding: 0;

                span:after{
                    width: 0;
                }
            }
        }
    }
    #header .headerWrap .inner .util_menu {top: 50%; transform: translateY(-50%);}
    #header .headerWrap .inner .util_menu .mNav{display: inline-block;}
    #header .headerWrap .inner .util_menu .mNav div{display: block;}
    
    .main_visual section .slide .slide_text .inner .text_wrap h3{
        font-size: 50px;
        word-break: keep-all;
    }
    #content #solution .box-container .box {
        min-width: 260px;
        min-height: 260px;
        
        .img_box{
            width: 100%;
            height: 200px;
        }
    }
    #content #company .box-container .box .text_box.con .con_slide.slick-slider li{
        height: 300px;
        div  {
            width: 240px;
            height: 180px;
        }
        section{
            width: 150px;
            right: 0;
        }
    }
    #content #company .happy .box-container .box{
        width: 40vw;
        .text_box{
            h2{
                font-size: 40px;
            }
        }
    }
}


@media only screen and (max-width:1024px){

    #content #solution .box-container {
        .box {
            min-width: 300px;
            min-height: 300px;

            .img_box{
                width: 100%;
                height: 200px;
            }

            p{
                font-size: 20px;
                line-height: 30px;
                span{
                    font-size: 16px;
                    letter-spacing: -.5px;
                }
            }
        }
    }

    #content #company .box-container .box .text_box.con .con_slide.slick-slider li{
        height: 300px;
        div  {
            width: 260px;
            height: 180px;
        }
        section{
            width: 150px;
            right: 10px;
        }
    }
    #content #company .happy .box-container .box{
        .text_box{
            h2{
                font-size: 30px;
                letter-spacing: -1px;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    /*아이패드*/
    #content #business .box-container .box{
        flex-flow: column wrap;
        margin: 0 !important;
        
        .text_box{
            margin: 10px 0 !important;
            flex: none;
        }

    }
    #content #solution .box-container .box {
        min-width: 256.3px;
        min-height: 220px;
    }
    #content #company .box-container .box .text_box.con .con_slide.slick-slider li{
        height: 330px;
        div  {
            width: 80%;
            height: 240px;
        }
        section{
            right: 10px;
            h3{
                font-size: 16px;
            }
        }
    }
    #content #company .happy .box-container .box{
        width: 50vw;
        .text_box{
            h2{
                font-size: 30px;
                letter-spacing: -1px;
            }
        }
    }
}

@media only screen and (max-width:640px){
    .section_head h3{
        letter-spacing: -.5px;
        word-break: keep-all;
        font-size: 20px;
    }
    /*모바일*/
    .main_visual .main_inner .slide-controls .slick-dots li{
        display: block;
        width: 100%;
    }
    #content #solution .box-container .box {
        min-width: 216px;
        min-height: 200px;

        .img_box{
            width: 100%;
            height: 160px;
        }
    }
    #content #company .box-container .box .text_box.con .con_slide.slick-slider li{
        div  {
            width: 320px;
            height: 240px;
        }
        section{
            right: 0;
        }
    }
    #content #company .happy {
        height: 400px;
        .box-container {
            .box{
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                transform: translateY(0);
                padding: 0 40px;
                .text_box{
                    h2{
                        font-size: 30px;
                        letter-spacing: -1px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:480px){
    .inner{
        width: 100%;
        max-width: 90vw;
    }
    .main_visual .main_inner .slide-controls .slick-dots li{
        width: 100%;
        display: block;
    }
    #content #solution .box-container{
        justify-content: center;
    }
    #content #company .box-container .box .text_box.con .con_slide.slick-slider li{
        height: 280px;
        margin-bottom: 80px;
        div  {
            width: 100%;
            height: 100%;
        }
        section{
            right: -20px;
            bottom: -30px;
        }
    }
}
@media only screen and (max-width:360px){
    #content #company .box-container .box .text_box.con .con_slide.slick-slider li{
        height: 200px;
        div  {
            width: 100%;
            height: 100%;
        }
        section{
            right: -12px;
            bottom: -30px;
        }
    }
}