@charset "UTF-8";
html {
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans KR", Lato, 돋움, Dotum, Helvetica, AppleGothic, sans-serif;
  color: #000;
  font-size: 14px; }

.inner {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  box-sizing: border-box; }

.bar1, .bar2, .bar3 {
  float: right;
  width: 100%;
  height: 3px;
  background: #fff;
  margin-top: 9px; }

.allmenu_wrap, .allmenu_bg {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%; }

.allmenu_bg {
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.allmenu_wrap {
  display: none;
  width: 550px;
  z-index: 501; }
  .allmenu_wrap #allmenu {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    z-index: 10; }
    .allmenu_wrap #allmenu .allmenu_top {
      position: relative;
      height: 50px;
      padding: 20px;
      border-bottom: 1px solid #222; }
      .allmenu_wrap #allmenu .allmenu_top .btn__close_menu {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 35px;
        cursor: pointer; }
        .allmenu_wrap #allmenu .allmenu_top .btn__close_menu .bar1 {
          background: #222;
          transform: rotate(-45deg) translate(-9px, 8px); }
        .allmenu_wrap #allmenu .allmenu_top .btn__close_menu .bar2 {
          opacity: 0; }
        .allmenu_wrap #allmenu .allmenu_top .btn__close_menu .bar3 {
          background: #222;
          transform: rotate(45deg) translate(-9px, -8px); }
    .allmenu_wrap #allmenu .am_tab {
      border-bottom: 1px solid #dfdfdf;
      overflow: hidden; }
      .allmenu_wrap #allmenu .am_tab li {
        position: relative;
        float: left;
        width: 25%;
        padding: 20px 0;
        font-weight: 500;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        border-left: 1px solid #dfdfdf; }
        .allmenu_wrap #allmenu .am_tab li.on {
          background: #fff;
          color: #7ac142; }
        .allmenu_wrap #allmenu .am_tab li:first-child {
          border-left: none; }
        .allmenu_wrap #allmenu .am_tab li:after {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -1px;
          height: 4px;
          background: #7ac142;
          z-index: 10;
          transition: all .2s;
          width: 0; }
        .allmenu_wrap #allmenu .am_tab li.on::after {
          width: 100%; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 450;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.headerWrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  .headerWrap .inner {
    height: 100%;
    position: relative; }
    .headerWrap .inner h1 {
      position: absolute;
      top: 50%;
      left: 3%;
      width: 220px;
      transform: translateY(-50%);
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      z-index: 50; }
      .headerWrap .inner h1 a {
        display: block; }
        .headerWrap .inner h1 a img {
          display: block;
          width: 100%;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
    .headerWrap .inner nav {
      position: absolute;
      top: 0;
      left: 50%;
      padding-bottom: 10px;
      transform: translateX(-50%);
      z-index: 10; }
      .headerWrap .inner nav ul li {
        position: relative;
        display: inline-block;
        font-size: 20px;
        font-weight: 400;
        line-height: 110px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .headerWrap .inner nav ul li:first-child a {
          padding-left: 0px; }
        .headerWrap .inner nav ul li a {
          display: block;
          padding-left: 80px;
          color: #fff; }
          .headerWrap .inner nav ul li a span {
            position: relative;
            display: block; }
            .headerWrap .inner nav ul li a span:after {
              content: '';
              width: 0;
              height: 3px;
              background: #7ac14e;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              transition: all .3s; }
        .headerWrap .inner nav ul li:hover a span {
          color: #7ac14e; }
        .headerWrap .inner nav ul li:hover a span::after {
          width: 100%;
          opacity: 1; }
    .headerWrap .inner .util_menu {
      position: absolute;
      right: 3%;
      top: 35px;
      z-index: 50; }
      .headerWrap .inner .util_menu .lang_util {
        display: inline-block;
        margin-right: 25px;
        position: relative; }
        .headerWrap .inner .util_menu .lang_util .lang {
          width: 66px;
          height: 40px;
          border: 1px solid #eee;
          font-size: 13px;
          text-align: center;
          box-sizing: border-box;
          line-height: 38px;
          cursor: pointer; }
          .headerWrap .inner .util_menu .lang_util .lang span {
            position: relative;
            display: inline-block;
            padding-right: 20px;
            color: #fff; }
            .headerWrap .inner .util_menu .lang_util .lang span:after {
              position: absolute;
              right: 0;
              top: 50%;
              content: "";
              display: inline-block;
              width: 0;
              height: 0;
              transform: translateY(-20%);
              border-style: solid;
              border-width: 5px;
              border-color: #fff transparent transparent transparent; }
        .headerWrap .inner .util_menu .lang_util ul {
          display: none;
          position: absolute;
          top: 39px;
          width: 100%;
          padding: 5px 0;
          border: 1px solid #222;
          background: #fff;
          box-sizing: border-box; }
          .headerWrap .inner .util_menu .lang_util ul li {
            font-size: 13px;
            line-height: 25px; }
            .headerWrap .inner .util_menu .lang_util ul li a {
              color: #222;
              padding: 0 8px;
              display: block; }
      .headerWrap .inner .util_menu .btn_menu {
        cursor: pointer;
        display: inline-block;
        width: 35px;
        margin-left: 25px;
        z-index: 600;
        vertical-align: middle; }
        .headerWrap .inner .util_menu .btn_menu .bar1 {
          margin-top: 0; }

#header.on {
  background: white; }
  #header.on nav ul li a {
    color: #222; }
  #header.on .lang {
    border-color: #222; }
    #header.on .lang span {
      color: #222; }
      #header.on .lang span:after {
        border-color: #222 transparent transparent transparent; }
  #header.on .bar1, #header.on .bar2, #header.on .bar3 {
    background: #222; }

#header:hover {
  border: 1px solid #dfdfdf; }

.main_visual {
  width: 100%;
  height: 1000px;
  background: rgba(0, 0, 0, 0.4);
  position: relative; }
  .main_visual .slide {
    width: 100%;
    height: 1000px;
    position: relative; }
    .main_visual .slide .videoArea {
      width: 100%;
      height: 1000px; }
      .main_visual .slide .videoArea video {
        min-width: 100%;
        min-height: 1000px;
        object-fit: cover; }
    .main_visual .slide .slide_text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1000px;
      background: rgba(0, 0, 0, 0.5); }
      .main_visual .slide .slide_text .text_wrap {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%); }
        .main_visual .slide .slide_text .text_wrap h3 {
          font-size: 70px;
          color: #fff;
          font-weight: 500; }
          .main_visual .slide .slide_text .text_wrap h3 strong {
            font-weight: 700; }
        .main_visual .slide .slide_text .text_wrap p {
          font-size: 24px;
          margin-left: 20px;
          color: #fff; }
  .main_visual .scroll-down {
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff; }

#content section {
  width: 100%;
  padding: 150px 0;
  box-sizing: border-box;
  position: relative; }
  #content section .section_head {
    margin-bottom: 55px; }
    #content section .section_head h2 {
      font-size: 50px;
      font-weight: 600;
      color: #222;
      line-height: 1;
      margin-bottom: 25px; }
    #content section .section_head p {
      font-size: 20px; }
  #content section .box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; }
    #content section .box-container .box {
      outline: 1px solid #000; }
  #content section .bg_head {
    font-size: 160px;
    line-height: .72;
    letter-spacing: -5px;
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    bottom: 0; }

#content #business .box {
  position: relative;
  width: 620px;
  height: 450px; }
  #content #business .box:last-child {
    margin-top: 200px; }
  #content #business .box h3 {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 30px;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
    transform: translateY(-50%); }
    #content #business .box h3:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: -70px;
      width: 48px;
      height: 1px;
      background: #222;
      transform: translateY(-50%); }

#content #business .bg_head {
  right: 0; }

#content #solution {
  text-align: center; }
  #content #solution .box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
    #content #solution .box-container .box {
      width: 420px;
      height: 360px; }

#content #about {
  background: #f5f5f5; }
  #content #about .bg_head {
    left: 0; }

footer {
  font-size: 16px;
  background: #49494b;
  padding: 30px 0;
  box-sizing: border-box;
  color: #fff; }
  footer address ul li {
    display: inline-block;
    margin-right: 10px; }
    footer address ul li:after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 16px;
      background: #bbb;
      margin-left: 10px; }
    footer address ul li:last-child {
      margin-right: 0; }
      footer address ul li:last-child:after {
        width: 0;
        margin-left: 0; }
  footer p {
    margin: 10px 0; }

@media only screen and (max-width: 1280px) {
  nav {
    display: none;
    /*pc최소*/ } }

@media only screen and (max-width: 1024px) {
  /*타블렛*/ }

@media only screen and (max-width: 640px) {
  /*모바일*/ }
