$color-pink: #ffdede;
$color-blue: #424ac1;
$dim: rgba(0, 0, 0, .2);
$white: #fff;
$black: #000;
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat", "Noto Sans KR", "Noto Sans KR", Lato, 돋움, Dotum, Helvetica, AppleGothic, sans-serif;
    color: $black;
    font-size: 14px;
}
.inner {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
}
.bar1, .bar2, .bar3{
    float: right;
    width: 100%;
    height: 3px;
    background: $white;
    margin-top: 9px;
}

#header {
    position:fixed;
    top:0; 
    left:0; 
    width:100%; 
    height:110px; 
    background:rgba(0, 0, 0, .4);
    box-sizing:border-box; 
    z-index:450; 
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;

    .tb_menu{
        display: none;
        width: 100%;
        height: 400px;
        background: #fff;

        li {
            width: 100%;
            height: 25%;
            line-height: 100px;
            border-bottom: 1px solid #dfdfdf;
            font-size: 20px;
            text-align: center;

            &:last-child{
                border-bottom: none;
            }

            a{
                color: #222;
            }
        }
    }
}

.headerWrap {
    position:relative; 
    width: 100%;
    height: 100%;
    margin:0 auto;

    .inner{
        height: 100%;
        position: relative;

        h1 {
            position:absolute; 
            top:50%;
            left:0;
            width:220px;
            transform: translateY(-50%);
            transition: all .3s; 
            z-index:50;
    
            a {
                display:block;
    
                img {
                    display: block;
                    width:100%;
                    -webkit-transition: all .3s; 
                    -moz-transition: all .3s; 
                    -o-transition: all .3s; 
                    transition: all .3s;
                }
            }
        }
        
        nav{
            position: absolute;
            top: 0;
            left: 50%;
            padding-bottom: 10px;
            transform: translateX(-50%);
            z-index: 10;

            ul li{
                position: relative;
                display: inline-block;
                font-size: 20px;
                font-weight: 400;
                line-height: 110px;
                -webkit-transition: all .3s; 
                -moz-transition: all .3s; 
                -o-transition: all .3s;
                transition: all .3s; 

                &:first-child a{
                    padding-left: 0px;
                }

                a{
                    display: block;
                    padding-left: 80px;
                    color: $white;
                    
                    span{
                        position: relative;
                        display: block;

                        &:after{
                            content: '';
                            width: 0;
                            height: 3px;
                            background: $color-blue;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            opacity: 0;
                            transition: all .3s;
                        }
                    }
                }
                &:hover a span{
                    color: $color-blue;
                }
                &:hover a span::after{
                    width: 100%;
                    opacity: 1;
                }

            }
        }

        .util_menu{
            position: absolute;
            right: 0;
            top: 35px;
            z-index: 50;

            .lang_util{
                display: inline-block;
                margin-right: 25px;
                position: relative;

                .lang{
                    width: 66px;
                    height: 40px;
                    border: 1px solid #eee;
                    font-size: 13px;
                    text-align: center;
                    box-sizing: border-box;
                    line-height: 38px;
                    cursor: pointer;

                    span{
                        position: relative;
                        display: inline-block;
                        padding-right: 20px;
                        color: $white;

                        &:after{
                            position: absolute;
                            right: 0;
                            top: 50%;
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 0;
                            transform: translateY(-20%);
                            border-style: solid;
                            border-width: 5px;
                            border-color: $white transparent transparent transparent;
                        }
                    }
                }
                ul {
                    display: none;
                    position: absolute;
                    top: 39px;
                    width: 100%;
                    padding: 5px 0;
                    border: 1px solid #222;
                    background: $white;
                    box-sizing: border-box;

                    li{
                        font-size: 13px;
                        line-height: 25px;

                        a{
                            color: #222;
                            padding: 0 8px;
                            display: block;
                        }
                    }
                }
            }

            .btn_menu{
                cursor: pointer;
                display: inline-block;
                width: 35px;
                margin-left: 25px;
                z-index: 600;
                vertical-align: middle;
                

                .bar1{
                    margin-top: 0;                
                }
            }
        }
    }
}

#header.on{
    background: rgba(255, 255, 255, 1);

    nav ul li a{
        color: #222;
    }
    
    .lang{
        border-color: #222;
        
        span{
            color: #222;

            &:after{
                border-color: #222 transparent transparent transparent;
            }
        }
    }

    .bar1, .bar2, .bar3{
        background: #222;
    }
}

#header:hover{
    border: 1px solid #dfdfdf;
}

main .main_visual{
    width: 100%;
    height: 1000px;
    background: $dim;
    position: relative;

    .fade {
        width: 100%;
        height: 1000px;
        position: relative;
        
        .videoArea{
        width: 100%;
        box-sizing: border-box;
        height: 1000px;
    
            video {
                min-width: 100%;
                min-height: 1000px;
                object-fit: cover;
            }
        }

        .slide_text{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1000px;
            background: rgba(0, 0, 0, .3);
            .inner{
                height: 100%;
                .text_wrap{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;

                    h3{
                        width: 100%;
                        font-size: 70px;
                        color: #fff;
                        font-weight: 500;
                        padding: 20px 0;
                        margin-top: 150px;

                        span{
                            display: block;
                            font-weight: 700;
                        }
                    }
                    p {
                        width: 100%;
                        font-size: 24px;
                        color: #fff;
                    }
                }
            }
        }
    }

    .main_inner{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        align-content: center;
        width: 90vw;
        height: 200px;
        position: absolute;
        bottom:0;
        left: 5vw;

        .slide-controls{
            width: 100%;
            
            .slick-dots{
                cursor: pointer;
                
                li {
                    display: inline-block;
                    position: relative;
                    font-size: 18px;

                    &:last-child{
                        margin-left: 15px;
                    }

                    &:after{
                        content: '';
                        display: inline-block;
                        margin-left: 2px;
                        margin-bottom: 5px;
                        width: 0;
                        height: 4px;
                        background: $white;
                        transition: width .4s linear;
                    }

                    a{
                        color: #fff;
                    }
                }
                li.slick-active {

                    &:after{
                        width: 40px;
                    }

                    a{
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

#content{
    section{
        width: 100%;
        padding: 150px 0;
        box-sizing: border-box;
        position: relative;
        
            .section_head{
                opacity: 0;
                margin-bottom: 55px;
                text-align: center;

                h2{
                    font-size: 50px;
                    font-weight: 600;
                    color: #222;
                    line-height: 1;
                    margin-bottom: 25px;
                }

                p{
                    font-size: 20px;
                }
            }

            .box-container{
                width: 100%;
                height: 100%;
                padding-bottom: 100px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: center;
            
                .box{
                    border: 1px solid $black;
                }
            }

        .bg_head{
            font-size: 160px;
            line-height: .72;
            letter-spacing: -5px;
            font-family: 'Montserrat', sans-serif;
            color: #f5f5f5;
            text-transform: uppercase;
            font-weight: 700;
            position: absolute;
            bottom: 0;
        }
    }

    #business{
        .box-container{
            padding-top: 100px;
            .box{
                cursor: pointer;
                position: relative;
                width: 620px;
                height: 450px;
                border: 1px solid transparent;

                &:last-child{
                    margin-top: 200px;
                }

                &:after{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: 1px solid $black;
                    border-left: none;
                    border-top: none;
                }

                &:hover:after{
                    width: 620px;
                    height: 450px;
                    transition: width 1s linear, height 1s linear;
                }

                &:before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: 1px solid $black;
                    border-right: none;
                    border-bottom: none;
                }

                &:hover:before{
                    width: 620px;
                    height: 450px;
                    transition: width 1s linear, height 1s linear;
                }

                h3{
                    position: absolute;
                    top: -40px;
                    right: 40px;
                    font-size: 30px;
                    font-weight: 600;
                    white-space: nowrap;
                    text-transform: uppercase;
                    transform: translateY(-50%);

                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: -70px;
                        width: 48px;
                        height: 1px;
                        background: #222;
                        transform: translateY(-50%);
                    }

                    span{
                        display: inline-block;
                    }
                }

                &:hover h3{
                    right: -40px;
                    transition: right 1s linear;
                }
            }
        }
        .bg_head{
            right: 0;
        }
    }

    #solution{
        .box-container{
            min-height: 900px;
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: space-around;

            .box{
                width: 360px;
                height: 360px;
                font-size: 36px;
                line-height: 360px;
                text-align: center;
            
                a{
                    opacity: 0;
                }
            }
        }
        .bg_head{
            left: 0;
        }
    }

    #company{
        .bg_head{
            right: 0;
        }
    }

    #about{
        background: #f5f5f5;
    }
}

footer{
    font-size: 16px;
    background: #49494b;
    padding: 30px 0;
    box-sizing: border-box;
    color: $white;

    address{

        ul li{
            display: inline-block;
            margin-right: 10px;

            &:after{
                content: '';
                display: inline-block;
                width: 1px;
                height: 16px;
                background: #bbb;
                margin-left: 10px;
            }

            &:last-child{
                margin-right: 0;

                &:after{
                    width: 0;
                    margin-left: 0;
                }
            }
        }
    }
    
    p{
     margin: 10px 0;
    }
    
}


@media only screen and (max-width:1280px){
    .pc{
        display: none;
    }
    
}


@media only screen and (max-width:1024px){
    /*타블렛*/
    .bg_head{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    /*아이패드*/
}

@media only screen and (min-width:481px) and (max-width:640px){
    /*모바일*/
}

@media only screen and (min-width:320px) and (max-width:480px){
    /*모바일에서 제일 작은 크기*/
    .inner{
        width: 100%;
        max-width: 320px;
    }
}