@charset "UTF-8";
html {
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans KR", Lato, 돋움, Dotum, Helvetica, AppleGothic, sans-serif;
  color: #000;
  font-size: 14px; }

.inner {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  box-sizing: border-box; }

.bar1, .bar2, .bar3 {
  float: right;
  width: 100%;
  height: 3px;
  background: #fff;
  margin-top: 9px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 450;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  #header .tb_menu {
    display: none;
    width: 100%;
    height: 400px;
    background: #fff; }
    #header .tb_menu li {
      width: 100%;
      height: 25%;
      line-height: 100px;
      border-bottom: 1px solid #dfdfdf;
      font-size: 20px;
      text-align: center; }
      #header .tb_menu li:last-child {
        border-bottom: none; }
      #header .tb_menu li a {
        color: #222; }

.headerWrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  .headerWrap .inner {
    height: 100%;
    position: relative; }
    .headerWrap .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 220px;
      transform: translateY(-50%);
      transition: all .3s;
      z-index: 50; }
      .headerWrap .inner h1 a {
        display: block; }
        .headerWrap .inner h1 a img {
          display: block;
          width: 100%;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
    .headerWrap .inner nav {
      position: absolute;
      top: 0;
      left: 50%;
      padding-bottom: 10px;
      transform: translateX(-50%);
      z-index: 10; }
      .headerWrap .inner nav ul li {
        position: relative;
        display: inline-block;
        font-size: 20px;
        font-weight: 400;
        line-height: 110px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .headerWrap .inner nav ul li:first-child a {
          padding-left: 0px; }
        .headerWrap .inner nav ul li a {
          display: block;
          padding-left: 80px;
          color: #fff; }
          .headerWrap .inner nav ul li a span {
            position: relative;
            display: block; }
            .headerWrap .inner nav ul li a span:after {
              content: '';
              width: 0;
              height: 3px;
              background: #424ac1;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              transition: all .3s; }
        .headerWrap .inner nav ul li:hover a span {
          color: #424ac1; }
        .headerWrap .inner nav ul li:hover a span::after {
          width: 100%;
          opacity: 1; }
    .headerWrap .inner .util_menu {
      position: absolute;
      right: 0;
      top: 35px;
      z-index: 50; }
      .headerWrap .inner .util_menu .lang_util {
        display: inline-block;
        margin-right: 25px;
        position: relative; }
        .headerWrap .inner .util_menu .lang_util .lang {
          width: 66px;
          height: 40px;
          border: 1px solid #eee;
          font-size: 13px;
          text-align: center;
          box-sizing: border-box;
          line-height: 38px;
          cursor: pointer; }
          .headerWrap .inner .util_menu .lang_util .lang span {
            position: relative;
            display: inline-block;
            padding-right: 20px;
            color: #fff; }
            .headerWrap .inner .util_menu .lang_util .lang span:after {
              position: absolute;
              right: 0;
              top: 50%;
              content: "";
              display: inline-block;
              width: 0;
              height: 0;
              transform: translateY(-20%);
              border-style: solid;
              border-width: 5px;
              border-color: #fff transparent transparent transparent; }
        .headerWrap .inner .util_menu .lang_util ul {
          display: none;
          position: absolute;
          top: 39px;
          width: 100%;
          padding: 5px 0;
          border: 1px solid #222;
          background: #fff;
          box-sizing: border-box; }
          .headerWrap .inner .util_menu .lang_util ul li {
            font-size: 13px;
            line-height: 25px; }
            .headerWrap .inner .util_menu .lang_util ul li a {
              color: #222;
              padding: 0 8px;
              display: block; }
      .headerWrap .inner .util_menu .btn_menu {
        cursor: pointer;
        display: inline-block;
        width: 35px;
        margin-left: 25px;
        z-index: 600;
        vertical-align: middle; }
        .headerWrap .inner .util_menu .btn_menu .bar1 {
          margin-top: 0; }

#header.on {
  background: white; }
  #header.on nav ul li a {
    color: #222; }
  #header.on .lang {
    border-color: #222; }
    #header.on .lang span {
      color: #222; }
      #header.on .lang span:after {
        border-color: #222 transparent transparent transparent; }
  #header.on .bar1, #header.on .bar2, #header.on .bar3 {
    background: #222; }

#header:hover {
  border: 1px solid #dfdfdf; }

main .main_visual {
  width: 100%;
  height: 1000px;
  background: rgba(0, 0, 0, 0.2);
  position: relative; }
  main .main_visual .fade {
    width: 100%;
    height: 1000px;
    position: relative; }
    main .main_visual .fade .videoArea {
      width: 100%;
      box-sizing: border-box;
      height: 1000px; }
      main .main_visual .fade .videoArea video {
        min-width: 100%;
        min-height: 1000px;
        object-fit: cover; }
    main .main_visual .fade .slide_text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1000px;
      background: rgba(0, 0, 0, 0.3); }
      main .main_visual .fade .slide_text .inner {
        height: 100%; }
        main .main_visual .fade .slide_text .inner .text_wrap {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center; }
          main .main_visual .fade .slide_text .inner .text_wrap h3 {
            width: 100%;
            font-size: 70px;
            color: #fff;
            font-weight: 500;
            padding: 20px 0;
            margin-top: 150px; }
            main .main_visual .fade .slide_text .inner .text_wrap h3 span {
              display: block;
              font-weight: 700; }
          main .main_visual .fade .slide_text .inner .text_wrap p {
            width: 100%;
            font-size: 24px;
            color: #fff; }
  main .main_visual .main_inner {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    width: 90vw;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 5vw; }
    main .main_visual .main_inner .slide-controls {
      width: 100%; }
      main .main_visual .main_inner .slide-controls .slick-dots {
        cursor: pointer; }
        main .main_visual .main_inner .slide-controls .slick-dots li {
          display: inline-block;
          position: relative;
          font-size: 18px; }
          main .main_visual .main_inner .slide-controls .slick-dots li:last-child {
            margin-left: 15px; }
          main .main_visual .main_inner .slide-controls .slick-dots li:after {
            content: '';
            display: inline-block;
            margin-left: 2px;
            margin-bottom: 5px;
            width: 0;
            height: 4px;
            background: #fff;
            transition: width .4s linear; }
          main .main_visual .main_inner .slide-controls .slick-dots li a {
            color: #fff; }
        main .main_visual .main_inner .slide-controls .slick-dots li.slick-active:after {
          width: 40px; }
        main .main_visual .main_inner .slide-controls .slick-dots li.slick-active a {
          font-weight: 800; }

#content section {
  width: 100%;
  padding: 150px 0;
  box-sizing: border-box;
  position: relative; }
  #content section .section_head {
    opacity: 0;
    margin-bottom: 55px;
    text-align: center; }
    #content section .section_head h2 {
      font-size: 50px;
      font-weight: 600;
      color: #222;
      line-height: 1;
      margin-bottom: 25px; }
    #content section .section_head p {
      font-size: 20px; }
  #content section .box-container {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; }
    #content section .box-container .box {
      border: 1px solid #000; }
  #content section .bg_head {
    font-size: 160px;
    line-height: .72;
    letter-spacing: -5px;
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    bottom: 0; }

#content #business .box-container {
  padding-top: 100px; }
  #content #business .box-container .box {
    cursor: pointer;
    position: relative;
    width: 620px;
    height: 450px;
    border: 1px solid transparent; }
    #content #business .box-container .box:last-child {
      margin-top: 200px; }
    #content #business .box-container .box:after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      border: 1px solid #000;
      border-left: none;
      border-top: none; }
    #content #business .box-container .box:hover:after {
      width: 620px;
      height: 450px;
      transition: width 1s linear, height 1s linear; }
    #content #business .box-container .box:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      border: 1px solid #000;
      border-right: none;
      border-bottom: none; }
    #content #business .box-container .box:hover:before {
      width: 620px;
      height: 450px;
      transition: width 1s linear, height 1s linear; }
    #content #business .box-container .box h3 {
      position: absolute;
      top: -40px;
      right: 40px;
      font-size: 30px;
      font-weight: 600;
      white-space: nowrap;
      text-transform: uppercase;
      transform: translateY(-50%); }
      #content #business .box-container .box h3:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -70px;
        width: 48px;
        height: 1px;
        background: #222;
        transform: translateY(-50%); }
      #content #business .box-container .box h3 span {
        display: inline-block; }
    #content #business .box-container .box:hover h3 {
      right: -40px;
      transition: right 1s linear; }

#content #business .bg_head {
  right: 0; }

#content #solution .box-container {
  min-height: 900px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around; }
  #content #solution .box-container .box {
    width: 360px;
    height: 360px;
    font-size: 36px;
    line-height: 360px;
    text-align: center; }
    #content #solution .box-container .box a {
      opacity: 0; }

#content #solution .bg_head {
  left: 0; }

#content #company .bg_head {
  right: 0; }

#content #about {
  background: #f5f5f5; }

footer {
  font-size: 16px;
  background: #49494b;
  padding: 30px 0;
  box-sizing: border-box;
  color: #fff; }
  footer address ul li {
    display: inline-block;
    margin-right: 10px; }
    footer address ul li:after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 16px;
      background: #bbb;
      margin-left: 10px; }
    footer address ul li:last-child {
      margin-right: 0; }
      footer address ul li:last-child:after {
        width: 0;
        margin-left: 0; }
  footer p {
    margin: 10px 0; }

@media only screen and (max-width: 1280px) {
  .pc {
    display: none; } }

@media only screen and (max-width: 1024px) {
  /*타블렛*/
  .bg_head {
    display: none; } }

@media only screen and (max-width: 768px) {
  /*아이패드*/ }

@media only screen and (min-width: 481px) and (max-width: 640px) {
  /*모바일*/ }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*모바일에서 제일 작은 크기*/
  .inner {
    width: 100%;
    max-width: 320px; } }
