@charset "UTF-8";
html {
  scroll-behavior: smooth; }

body {
  font-family: "Noto Sans KR", "Noto Sans KR", Lato, 돋움, Dotum, Helvetica, AppleGothic, sans-serif;
  color: #000;
  font-size: 18px; }

h2, h3, h4, p {
  width: 100%;
  color: #000; }

.inner {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  box-sizing: border-box; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background: #fff;
  box-sizing: border-box;
  z-index: 450;
  transition: all .3s;
  border: 1px solid #dfdfdf; }

.headerWrap {
  position: relative;
  height: 100%;
  margin: 0 auto; }
  .headerWrap .inner {
    height: 100%;
    position: relative; }
    .headerWrap .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 160px;
      transform: translateY(-50%);
      transition: all .3s;
      z-index: 50; }
      .headerWrap .inner h1 a {
        display: block; }
        .headerWrap .inner h1 a img {
          display: block;
          width: 100%;
          transition: all .3s; }
    .headerWrap .inner .util_menu {
      position: absolute;
      right: 0;
      top: 35px;
      z-index: 50; }
      .headerWrap .inner .util_menu .lang_util {
        display: inline-block;
        position: relative; }
        .headerWrap .inner .util_menu .lang_util .lang {
          width: 66px;
          height: 40px;
          border: 1px solid #222;
          font-size: 14px;
          text-align: center;
          box-sizing: border-box;
          line-height: 38px;
          cursor: pointer; }
          .headerWrap .inner .util_menu .lang_util .lang span {
            position: relative;
            display: inline-block;
            padding-right: 20px;
            color: #222; }
            .headerWrap .inner .util_menu .lang_util .lang span:after {
              position: absolute;
              right: 0;
              top: 50%;
              content: "";
              display: inline-block;
              width: 0;
              height: 0;
              transform: translateY(-20%);
              border-style: solid;
              border-width: 5px;
              border-color: #222 transparent transparent transparent; }
        .headerWrap .inner .util_menu .lang_util ul {
          display: none;
          position: absolute;
          top: 39px;
          width: 100%;
          padding: 5px 0;
          border: 1px solid #222;
          background: #fff;
          box-sizing: border-box; }
          .headerWrap .inner .util_menu .lang_util ul li {
            font-size: 14px;
            line-height: 25px; }
            .headerWrap .inner .util_menu .lang_util ul li a {
              color: #222;
              padding: 0 8px;
              display: block; }

main .section_head {
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 110px;
  left: 0;
  height: 110px;
  line-height: 110px;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  border: 1px solid #dfdfdf; }
  main .section_head h3 {
    font-weight: 600;
    color: #49494b; }

main .main_visual {
  width: 100%;
  margin-top: 220px;
  position: relative;
  overflow: hidden; }
  main .main_visual ul.slick-slider li {
    width: 100%;
    position: relative; }
    main .main_visual ul.slick-slider li .slide_header {
      background: #eee;
      width: 100%;
      height: 1000px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center; }
      main .main_visual ul.slick-slider li .slide_header h3 {
        line-height: 1000px;
        width: 100%;
        height: 800px;
        color: #000;
        font-size: 60px; }
      main .main_visual ul.slick-slider li .slide_header .sub_title {
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background: #fff; }
        main .main_visual ul.slick-slider li .slide_header .sub_title h4 {
          color: #000;
          width: 100%; }
        main .main_visual ul.slick-slider li .slide_header .sub_title p {
          color: #000;
          width: 100%; }
    main .main_visual ul.slick-slider li .box-container {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around; }
      main .main_visual ul.slick-slider li .box-container .box {
        width: 100%;
        display: flex;
        margin: 100px 0;
        /*ie align-content 미지원*/ }
        main .main_visual ul.slick-slider li .box-container .box .img_box {
          flex: 1;
          background: #efefef;
          color: #222; }
        main .main_visual ul.slick-slider li .box-container .box .text_box {
          flex: 1; }
        main .main_visual ul.slick-slider li .box-container .box:nth-child(2n) .img_box {
          order: 1; }
  main .main_visual ul.slick-slider button.slick-arrow {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 198;
    border: 2px solid #000;
    background: transparent;
    color: transparent;
    position: relative;
    opacity: .6;
    transition: opacity .4s; }
    main .main_visual ul.slick-slider button.slick-arrow:active {
      opacity: 1; }
    main .main_visual ul.slick-slider button.slick-arrow:before {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%) rotate(45deg); }
    main .main_visual ul.slick-slider button.slick-arrow:after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%) rotate(-45deg); }
  main .main_visual ul.slick-slider button.slick-prev {
    position: absolute;
    top: 500px;
    left: 10vw;
    transform: translateY(-50%) rotate(90deg); }
  main .main_visual ul.slick-slider button.slick-next {
    position: absolute;
    top: 500px;
    right: 10vw;
    transform: translateY(-50%) rotate(-90deg); }

/*솔루션은 여기다 작업할 것*/
.main_visual li h2 {
  font-size: 28px; }

.main_visual li.mes .text_box {
  padding: 0 40px;
  box-sizing: border-box; }
  .main_visual li.mes .text_box h2 {
    margin: 40px 0; }
  .main_visual li.mes .text_box ul {
    width: 100%; }
    .main_visual li.mes .text_box ul li {
      width: 100%;
      text-indent: 25px;
      margin-bottom: 40px; }
      .main_visual li.mes .text_box ul li strong {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        line-height: 50px;
        color: #fff;
        background: linear-gradient(to right, #424ac1, #fff); }
      .main_visual li.mes .text_box ul li span {
        display: block; }

.main_visual li.mes .text_box.list_box ul li {
  font-size: 20px;
  font-weight: 600;
  color: #424ac1; }
  .main_visual li.mes .text_box.list_box ul li ul li {
    margin: 0;
    color: #000;
    font-weight: 400; }

.main_visual li.mes .text_box.gear {
  position: relative;
  width: 100%; }
  .main_visual li.mes .text_box.gear ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; }
    .main_visual li.mes .text_box.gear ul li {
      width: 45%;
      height: 200px;
      text-indent: 0;
      text-align: center;
      position: relative; }
      .main_visual li.mes .text_box.gear ul li:after {
        content: '';
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #424ac1;
        text-align: center;
        line-height: 120px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 190; }
      .main_visual li.mes .text_box.gear ul li:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("../images/cloud.svg") no-repeat;
        background-size: contain;
        z-index: 195;
        width: 80px;
        height: 80px; }
    .main_visual li.mes .text_box.gear ul li:nth-child(2)::before {
      background: url("../images/eye.svg") no-repeat;
      background-size: contain; }
    .main_visual li.mes .text_box.gear ul li:nth-child(3)::before {
      background: url("../images/gear.svg") no-repeat;
      background-size: contain; }
    .main_visual li.mes .text_box.gear ul li:last-child::before {
      background: url("../images/cycle.svg") no-repeat;
      background-size: contain; }
  .main_visual li.mes .text_box.gear svg {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px; }

.main_visual li.mes .table_box table thead {
  border: 2px solid #000;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 0 10px; }

.main_visual li.mes .table_box table tr th {
  border: 1px solid #666;
  width: 400px; }

.main_visual li.mes .table_box table tr td {
  border: 1px solid #666;
  width: 200px; }

.main_visual li.mes .per_box {
  width: 100%; }
  .main_visual li.mes .per_box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .main_visual li.mes .per_box ul li {
      width: 200px;
      height: 200px;
      text-align: center;
      margin: 20px; }

.main_visual li.mes .order_box {
  width: 100%; }
  .main_visual li.mes .order_box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .main_visual li.mes .order_box ul li {
      text-align: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 10px solid #424ac1;
      position: relative;
      background: #fff;
      margin: 20px; }
      .main_visual li.mes .order_box ul li span {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 182;
        font-weight: 700; }
      .main_visual li.mes .order_box ul li:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1);
        border: 10px solid #eee;
        border-radius: 50%;
        z-index: 181; }
      .main_visual li.mes .order_box ul li:after {
        content: '';
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("../images/product.svg") no-repeat;
        background-size: contain;
        z-index: 181; }

footer {
  font-size: 16px;
  background: #49494b;
  padding: 30px 0;
  box-sizing: border-box; }
  footer address ul li {
    display: inline-block;
    margin-right: 10px;
    color: #fff; }
    footer address ul li:after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 16px;
      background: #bbb;
      margin-left: 10px; }
    footer address ul li:last-child {
      margin-right: 0; }
      footer address ul li:last-child:after {
        width: 0;
        margin-left: 0; }
  footer p {
    margin: 10px 0;
    color: #fff; }

@media only screen and (max-width: 1180px) {
  /*작은 모니터 pc*/
  #header .headerWrap .inner h1 {
    width: 100px; }
  #header .headerWrap .inner .util_menu {
    top: 50%;
    transform: translateY(-50%); } }

@media only screen and (max-width: 1024px) {
  main .main_visual ul li .inner .box-container .box {
    flex-direction: column; }
  main .main_visual ul li.mes .inner .box-container .box .text_box.gear svg {
    width: 200px;
    height: 200px; } }

@media only screen and (max-width: 768px) {
  main .main_visual ul.slick-slider li.mes .text_box {
    padding: 0; }
  main .main_visual ul li.mes .inner .box-container .box .text_box.gear svg {
    display: none; }
  main .main_visual ul li.mes .inner .box-container .box .text_box.gear ul li {
    width: 200px;
    margin: 40px auto; } }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*모바일에서 제일 작은 크기*/
  .inner {
    width: 100%;
    max-width: 90vw; }
  .section_head h3 {
    font-size: 20px; } }
